body, html {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    background-color: rgb(167, 165, 165);
}

h1 {
    text-align:center;
    font-size: 3rem;
}
p {
    text-align:center;
    font-size: 2rem;
}
img {
    width: 100%;
    height: auto;
}

ul {
    font-size: 1.5rem;
}